<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-color-active-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="NEWS" ui-sref="tab.news">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="ANNOUCEMENTS" ui-sref="tab.announcements"> 
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
<!--
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.accounts">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
-->


</ion-tabs>
