<ion-view view-title="Announcements">
  <ion-content>
    <div ng-if="loading" class="sc-progress-wrapper">
        <p>
            Wait please &hellip;
        </p>
        <p>
            <ion-spinner icon="spiral" class="medium-spinner"></ion-spinner>
        </p>
    </div>
    <ion-refresher ng-if="!loading"
        pulling-text="Pull to refresh..."
        on-refresh="refresh(true)">
      </ion-refresher>
    <ion-list ng-show="!loading">
        <ion-item ng-if="items.length===0" class="text-center item-text-wrap sc-item2" ng-click="refresh(true)">
            No announce was found. You can tap here  or drag down to refresh 
        </ion-item>
        <ion-item class="item-text-wrap sc-item2 item-thumbnail-left item-border-balanced" ng-repeat="item in items"  ui-sref="tab.announcement-details({id : item.id})">
            <img src="img/G-icon.jpg" item-thumbnail="item" />
            
            <h3 ng-bind-html="::item.title"></h3>
            <p ng-bind-html="::item.contentSnippet"></p> 
            <p class="text-right energized date-label">{{item.pubDate | toDate | fromNow}}</p>
          </ion-item>  
    </ion-list>
      <div ng-show="!loading && errorMessage.length>0" class="sc-offline-container">
        <p class="energized">
            {{errorMessage}}
        </p>
    </div>
  </ion-content>
</ion-view>
