<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{title || 'News Details'}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-home" type="button" ui-sref="tab.news">
        </button>
        
        <button class="button button-clear icon ion-android-share-alt" type="button" ng-click="share(item, 'Share news item via')">
        </button>
        
    </ion-nav-buttons>
  <ion-content class="padding">
      <div class="sc-banner-image-container">
      <img src="img/G-icon.jpg" class="sc-banner-image" item-banner-image="item">
      </div>
      <section>
        <header>
            <h3 class="title" ng-bind-html="::item.title"></h3>
            <p class="sub-title energized">
                {{::(item.pubDate | toDate | fromNow)}}
            </p>
          </header>
        <article ng-bind-html="::item.content">
          </article>  
      </section>
    </ion-content>
</ion-view>
