/* Empty. Add your own CSS if you like */

.sc-offline-container {
    background-image: url(../img/offline.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    text-align: center;
}
.sc-banner-image-container {
    text-align: center;
    overflow: hidden;
/*    max-height: 350px;*/
}

.sc-banner-image-container img {
/*
    height: 100%;
    width: auto;
    
*/
    width: 100%;
    height: auto;
    display: inline;
    margin: auto;
}


.sc-progress-wrapper {
    text-align: center;
    padding-top: 20%;
}

.date-label {
    font-style: italic;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.spinner.big-spinner svg {
    width: 128px;
    height: 128px;
}

.spinner.medium-spinner svg {
    width: 64px;
    height: 64px;
}

.pull-right {
    float: right !important;
}

.sc-item {
    border-color: #8ECE2F;
}
.sc-item .item-content {
    background-image: url(../img/bottom-right-icon.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.sc-item2 {
    border-color: #E6DD6E;
}
.sc-item2 .item-content {
    background-image: url(../img/bottom-right-icon2.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
